lec3/Matplotlib/new-york_new-york.imposm-shapefiles.zip
lec3/Pandas/loan.csv.gz
lec3/Pandas/recipeitems-latest.json.gz
lec7/prac/kinopoisk_train.csv
lec7/prac/tf-idf.pkl
lec8/hw03/crawler_cache_clean.db
